<header id="main-header">
    <div><a href="/" class="navbar-brand" style="color: #00bcff;font-size: 20px;font-weight: bold;">ELECTRO ITM</a>
    </div>
    <nav>
        <%- include('nav-items') %>
    </nav>
    <button id="mobile-menu-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>
</header>

<aside>
    <%- include('nav-items') %>
</aside>